<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
  </head>

  <body>
    <h1> Recipe</h1>

    <ul>
      <% recipe[:ingredients].each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
    <ol>
      <% recipe[:directions].each do |direction| %>
        <li><%= direction %> </li>
      <% end %>
    </ol>
  </body>
</html>